body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepage-header {
    margin: 1% 7% 1% 7%;
    display: flex;
    justify-content: space-between;
}
.header-logo > img {
    width: 70%;
}

.display-user {
    list-style: none;
    display: flex;
}

.display-user img {
    width: 50px;
    border-radius: 25px;
    display: inline-block;
}

.foodhub-container-main {
    text-align: center;
}

.foodhub-container-main h1 {
    font-size: 150px;
}