/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* not sure about te img */
/* img {
height: 100%;
} */

.card {
    border: 1px solid black;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}


/* End of general CSS */
/* Start sign in css */

.main-sign-in {
    margin: 10%;
    padding: 10%;
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100%; /*not sure*/
}

.main-sign-in > .card {
    padding: 5%;
    justify-content: space-evenly; /*not sure*/

}

.main-sign-in > .card-heading {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-sign-in input {
    width: 100%;
    margin-bottom: 10px;

}