/* General CSS */
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/*For all the header in all pages*/
.header-logo > img {
    width: 70%;
}

.card {
    border: 1px solid;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

.btn {
    text-align: center;
    border-radius: 0.3em ;
    border: 1px solid;
    min-height: 35px;
    min-width: 100px;
    font-weight: 600;
    background-color: #1877f2;
    padding: 0 16px;
    color: white;
    border-color: none;
}
.btn:hover{
    background-color: #1271e9;
}

.input {
    text-align: left;
    border-radius: 0.3em ;
    border: 1px solid #dddfe2;
    min-height: 35px;
    padding: 1em;
    font-size: 1em;
}
.input:focus {
    border: 1px solid #1877f2;
    outline: none;
}
.input-date {
    display:inline-block ;
    background-color: #1877f2;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    color:#dddfe2 ;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.input-date:hover {
    border: 1px solid #1877f2;
    outline: none;
}

a {
    text-decoration: none;
}




/* End of general CSS */
/* ============================================================================ */
/* Start sign in css */

.main-sign-in {
    background-color: #DADBBD;
    padding: 10%;
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100%; /*not sure*/
}

.main-sign-in > .card {
    padding: 5%;
    /* justify-content: space-evenly;  */
    background-color: #96a4d5;
    border-color: #a59497;
    color:#DADBBD
}
.main-sign-in > .card-heading {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-sign-in .input {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    padding: 1em;
    margin: 0.5em 0;
    border-radius: 0.3em ;
    height: 20%;
    font-size: 18px;
}
.main-sign-in .form {
    display: flex;
    flex-direction: column;
}
.main-sign-in .btn {
    align-self: center;
    width: 50% ;
    padding: 0.5em;
    margin-bottom: 10px;
}

.main-sign-in p {
    margin-top: 15px;
}

.main-sign-in label {
    margin-bottom: 0;
    padding-bottom: 0;
}
/* End of sign page */
/* ============================================================================ */
/*Start with the Home page*/

.homepage-wrapper {
    background-image: url(../assets/images/background-img-home.jpg);
    height: 100vh;
}

.homepage-header {
    margin: 0 7% 5% 7%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}


.display-user li {
    color: aliceblue;
}

.display-user {
    list-style: none;
    display: flex;
}

.display-user img {
    width: 50px;
    border-radius: 25px;
    display: inline-block;
}

.foodhub-container-main {
    text-align: center;
}

.foodhub-container-main h1 {
    font-size: 150px;
    margin: 2%;
    color: rgb(214, 222, 230);
}

.search-bar {
    width: 50%;
    height: 55px;
    border-radius: 20px;
}

/*End of Home page*/
/*=============================================================================*/
/*Start with sign up page*/
.main-sign-up {
    background-color: #96a4d5;
    height: 100%;
    width: 100%;
}   

.main-sign-up .container {
    display:flex;
    flex-direction: column;
    height: 70%;
    padding: 30px;
    margin:auto 10%;
}
.main-sign-up .container > div {
    margin-bottom: 15px;
}

.main-sign-up .top-card {
    display: flex;
    /* justify-content: center; */
    justify-items: center;
    /* text-align: center; */
    justify-content: space-around;
}
.main-sign-up .h1 {
    margin: 0.8em;
}
.main-sign-up .middle-card{
    display: flex;
    justify-content: space-around;
    padding: 25px auto;
}


.main-sign-up .bottom-card {
    text-align: center;

}





/*End sign up page*/
/*=============================================================================*/
